[submodule "themes/beautifulhugo"]
path = themes/beautifulhugo
url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/Academia-hugo"]
path = themes/Academia-hugo
url = https://github.com/themefisher/Academia-hugo.git
